$red-100: #330000;
$red-200: #660000;
$red-300: #990000;
$red-400: #cc0000;
$red-500: #ff0000;
$red-600: #ff3333;
$red-700: #ff6666;
$red-800: #ff9999;
$red-900: #ffcccc;
$red-000: #ffe6e6;

$green-100: #003300;
$green-200: #006600;
$green-300: #009900;
$green-400: #00cc00;
$green-500: #00ff00;
$green-600: #33ff33;
$green-700: #66ff66;
$green-800: #99ff99;
$green-900: #ccffcc;
$green-000: #e6ffe6;

$blue-100: #000033;
$blue-200: #000066;
$blue-300: #000099;
$blue-400: #0000cc;
$blue-500: #0000ff;
$blue-600: #3333ff;
$blue-700: #6666ff;
$blue-800: #9999ff;
$blue-900: #ccccff;
$blue-000: #e6e6ff;

$yellow-100: #333300;
$yellow-200: #666600;
$yellow-300: #999900;
$yellow-400: #cccc00;
$yellow-500: #ffff00;
$yellow-600: #ffff33;
$yellow-700: #ffff66;
$yellow-800: #ffff99;
$yellow-900: #ffffcc;
$yellow-000: #ffffe6;

$orange-100: #331f00;
$orange-200: #663d00;
$orange-300: #995c00;
$orange-400: #cc7a00;
$orange-500: #ff9900;
$orange-600: #ffad33;
$orange-700: #ffc266;
$orange-800: #ffd699;
$orange-900: #ffebcc;
$orange-000: #fff5e6;

$pink-100: #330033;
$pink-200: #660066;
$pink-300: #990099;
$pink-400: #cc00cc;
$pink-500: #ff00ff;
$pink-600: #ff33ff;
$pink-700: #ff66ff;
$pink-800: #ff99ff;
$pink-900: #ffccff;
$pink-000: #ffe6ff;