<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cc7a00;">
    <!-- <a class="navbar-brand" href="#">
        <img src="./assets/images/book/logo.png" height="80px">
    </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button type="button" class="btn btn-dark" (click)="portada()">Portada<span class="sr-only">(current)</span> </button>
          <!-- <a class="nav-link" href="#">Portada <span class="sr-only">(current)</span></a> -->
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark" (click)="libro()">Libros</button>
          <!-- <a class="nav-link" href="#">Libros</a> -->
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark" (click)="autor()">Autores</button>
            <!-- <a class="nav-link" href="#" (click)="autor()">Autores</a> -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button type="button" class="btn btn-secondary dropdown-item" (click)="libro()">AddLibro</button>
            <!-- <a class="dropdown-item" href="#">AddLibro</a> -->
            <button type="button" class="btn btn-secondary dropdown-item" (click)="autor()">AddAutor</button>
            <!-- <a class="dropdown-item" href="#">AddAutor</a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        
        <li class="nav-item left">
          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
          <!-- <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">login</a> -->
          <button type="button" class="btn btn-secondary" (click)="login()">Login</button>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            <!-- <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">name</a> -->
            <button type="button" class="btn btn-secondary" >Name</button>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
<div class="jumbo">
  <div class="container">
    <h1 class="display-4 "><img src="./assets/images/book/logo.png" height="120px">&nbsp;&nbsp;&nbsp;&nbsp; Gnommo's Library</h1>
    <p class="leade">Busca en nuestra web el libro que necesitas.</p>
  </div>
</div>
<div class="contenedor">
  <router-outlet></router-outlet>
</div>
  
